[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-script = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv = "*"
flask-cors = "*"
mysql = "*"
bcrypt = "*"
flask-bcrypt = "*"
flask-login = "*"

[requires]
python_version = "3.8.5"
